* {
    margin: 0;
    padding: 0;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
body, html {
    overflow-x: hidden;
    
}
body a {
  text-decoration: none;
}
.container {
    margin: 0 auto;
    width: 90vw;

}

/* навигационная панель */
header {
    position: absolute;
    top: o;
    left: 0;
    right: 0;
    z-index: 1000;
}
header nav {
    text-align: center;
    background-color: #3b3838;  
}

.navigation{
    /* margin: auto; */
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    /* border-bottom: 5px solid red; */

}
.left_menu, .right_menu {
    height: 100%;
    box-sizing: border-box;
    width: 42%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-bottom: 0.3vh solid #fff;
    border-top: 0.3vh solid #fff;
}

        /* ссылки навигации */
.navigation li a {
    color: #fff;
    text-decoration: none;
    align-self: center;
     font-size: 1.3em;
    /* font-size: 3vh; */

    transition: color .2s linear;
}
        /* наведенные ссылки нава */

        .navigation li a:hover {
            color: #cf3339;
        }


        /* логотип в наве */

li a img {
    display: block;
    align-items: center;
    height: 9.2vh;
    width: auto;
    margin-top: .4vh;
    margin-bottom: .4vh;
    
}
/* элементы менюшки не видно на компе */
.icon_menu, #checkbox_menu {
    display: none;
} 



/* .main_info {
    width: 100vw;
} */



/* header {
    background-image: url(../jpg/expositions/экспозиции\ начало.jpg);
background-repeat: no-repeat;
background-size: cover;
} */



.intro {
    width: 100%;
    height: 100vh;
    background: url(../jpg/expositions/экспозиции\ вар\ 3.jpg) bottom;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


.intro_info {
    margin: 0 auto;
    text-align: center;
    color: #3b3838;
    font-size: 10vh;
}
























footer {
    color: #fff;
    padding-top: 5vw;
    padding-bottom: 2vh;
    background-color: #3b3838;
  }
  
  .prv {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 10%;
    width: 100%;
  }
  .logo_footer img {
    height: 15vh;
  } 
  .adres {
    margin-right: 8vw;
  }
  .adres_link a {
    text-decoration: none;
    color: #fff;
  }
  
  .footer_nav {
    color: #fff;
    height: 15vh;
    margin-top: 5vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* align-items: center; */
  }
  
  .footer_nav_left, .footer_nav_right {
    width: 20vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .footer_contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .footer_contacts a {
    color: #fff;
  }
  .footer_nav li {
    font-size: 1.1em;
    list-style-type: none;
    padding-top: 5%;
  }
  
  
  
  .footer_nav_left a, .footer_nav_right a {
    color: #fff;
    text-decoration: none;
    align-self: center;
  }
  
  
  .footer_contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
  }
  
  .footer_end {
    border-top: .1vh solid #fff;
    margin-top: 4vw;
    padding-top: .5vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 10%;
    width: 100%;
  }