* {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
body, html {
  overflow-x: hidden;
  
}
body a {
text-decoration: none;
}



/* контейнер */


.container {
  /* max-width: 1200px; */
  margin: 0 auto;
  width: 90%;

}


/* навигационная панель */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
header nav {
  text-align: center;
  background-color: #3b3838;
    
}

.navigation{
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;

}
.left_menu, .right_menu {
  height: 100%;
  box-sizing: border-box;
  width: 42%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
}

      /* ссылки навигации */
.navigation li a {
  color: #fff;
  text-decoration: none;
  align-self: center;
  font-size: 1.3em;
  transition: color .2s linear;
}
      /* наведенные ссылки нава */

.navigation li a:hover {
color: #cf3339;
}


      /* логотип в наве */

li a img {
  display: block;
  align-items: center;
  height: 85px;
  width: auto;
  margin-top: 4px;
  margin-bottom: 4px;
  
}

/* элементы менюшки не видно на компе */
.icon_menu, #checkbox_menu, .logo_mobile,  .zaebal_icon_menu, .main_header_mobile {
  display: none;
} 





.intro {
    width: 100%;
    height: 100vh;
    background: url(../jpg/expositions/экспозиции\ вар12.jpg);
    background-position: center left 30%;
    background-repeat: no-repeat;
    background-size:cover;
  }

.intro_text {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;

  text-align: center;
  color: #fff;
  font-size: 1.3em;
}  
.title {
  margin-bottom: 5px;
  font-weight: 200;
  font-size: 100px;
}





























.content {
  /* height: 100vh; */
  align-items: center;
  font-size: 1.3em;

}

.content p {
  margin-top: 50px; 
}
.content img {
  float: right;
  height: 500px;  
  width: auto;
  padding-left: 15px;
}


.museum_info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 8vh;
  padding-bottom: 8vh;

}
.sector {
  align-items: center;
  overflow: hidden;
}
.sector p  {
  text-decoration: none;
  text-align: center;
  color: #000;
  font-size: 2vh;
}
.name_of_vst p{
  font-size: 2.5vh;
  padding-top: .5vh;
}
.sector img {
  display: block;
  height: 60vh;
  width: auto;
  transition: 1s;
} 
.text_vzux {
  vertical-align: middle;
  font-size: 2vh;
  position:absolute; 
  visibility:hidden;
  background:rgba(0, 0, 0, 0.4392156862745098);
  color: #fff;
  width: 100%;
  height: 70vh;
  top: 60vh;
}
.text_vzux p {
  padding-top: 21vh;
  text-align: center;

}
.sector:hover .text_vzux{
  visibility:visible;
  transition:1s;
  -webkit-transition:1s;
  transform:translatey(-60vh);
  -webkit-transform:translatey(-60vh);
} 
.sector:hover{
  filter:sepia(50%);
  -webkit-filter:sepia(60%);
  transition:1s;
  -webkit-transition:1s;
}



.sector:hover img{
  z-index: 1;
  filter: blur(5px);
  transform: scale(1.2);
  /* filter:sepia(50%);
  -webkit-filter:sepia(60%); */
  transition:1s;
  /* -webkit-transition:1s; */
} 


/* футер */


footer {
  color: #fff;
  padding-top: 3vh;
  padding-bottom: 2vh;
  background-color: #3b3838;
}

.prv {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 40px;
}

.prv a {
  text-decoration: none;
  color: #fff;
}

.prv .logo_footer {
  width: 50%;
}
.prv .adres_info {
  width: 50%;
}

.logo_footer {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.logo_footer div {
  font-size: 1.1em;
  width: 100%;
  text-align: center; 
}

.logo_footer span {
  border-bottom: 2px solid #fff;
}

.logo_footer img {
  height: 100px;
}

.adres  {
  font-size: 1.1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

 .adres_info h2 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 5px;
  border-bottom: 2px solid #fff ;
}

.footer_nav {
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
}



.footer_nav a {
  text-decoration: none;
  color: #fff;
}

.footer_nav_left, .footer_nav_right {
  width: 50%;
}

.footer_item, .footer_item {
  font-size: 1.1em;
  padding-bottom: 25px;
} 

.footer_nav_left {
display: flex;
flex-direction: row;
}
.footer_nav_left div {
  width: 50%;
}

.footer_nav_right {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact_information {
  text-align: end;
}

.footer_roots {
  text-align: center;
}

.footer_end {
  border-top: .1vh solid #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 10%;
  width: 100%;
}


.navigation_mobile {
  visibility: hidden;
  height: 0;
  transition: all .5s linear;
}

  @media screen and (max-width:860px) {



    .logo a{
      display: none;
    }
  
   .main_header_mobile svg {
    display: block;
    height: 40px;
    width: auto;
   }
    
    .navigation {
      display: none;
    }
    
    .logo_mobile {  
      display: inline-block;
      padding-top: 5px;
    }


    .logo_mobile img {
    height: 50px;
    width: auto;
    }
    
    .header_mobile {
      background-color: #3b3838;
    }

    .main_header_mobile a {
      text-decoration: none;
      color: #fff;
      font-weight: 500;
      font-size: 1.3em;
    }

    .main_header_mobile {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: #fff;
  
    }
    
    .icon_menu {
      display: flex;
      align-items: center;
      justify-content: right;
      width: 50px;
      height: 50px;
      /* background-color: #dd03b9; */
      border: none;
      border-radius: 50%;
      cursor: pointer;
    }
    .icon_menu span::before,
    .icon_menu span::after,
    .icon_menu span {
      background-color: #ffffff;
      width: 24px;
      height: 3px;
      border-radius: 2px;
      transition: 0.3s;
    }
    .icon_menu span::before,
    .icon_menu span::after {
      content: "";
      position: relative;
      display: inline-block;
    }
    .icon_menu span::before {
      top: -20px;
    }
    .icon_menu span::after {
      top: -23px;
    }
    .zaebal_icon_menu:checked ~ .header_mobile .icon_menu span {
      background-color: transparent;
    }
    .zaebal_icon_menu:checked ~ .header_mobile .icon_menu span::before {
      top: -13px;
      transform: rotate(135deg);
    }
    .zaebal_icon_menu:checked ~ .header_mobile .icon_menu span::after {
      top: -32px;
      transform: rotate(-135deg);
    } 
  
    .navigation_mobile li{
      width: 100%;
      text-align: center;
      list-style-type: none;
      padding-top: 10px;
      padding-bottom: 10px;
      
    }
    .navigation_mobile li a {
      color: #fff;
      font-size: 0px;
      transition: font-size .5s linear;
    }
    
  .zaebal_icon_menu:checked ~ .header_mobile .navigation_mobile
    {
    visibility: visible;
    height: calc(6 * (29px + 20px));
  }
  .zaebal_icon_menu:checked ~ .header_mobile .navigation_mobile li a
    {
    font-size: 24px;
  }

 
  
  
  /* футер */
  
  
  .prv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .prv .logo_footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .prv .logo_footer .footer_name {
    width: 50%;
  }

  



  }