* {
  margin: 0;
  padding: 0;
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
body, html {
  overflow-x: hidden;
  
}
body a {
text-decoration: none;
}



/* контейнер */


.container {
  /* max-width: 1200px; */
  margin: 0 auto;
  width: 90%;

}


/* навигационная панель */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
header nav {
  text-align: center;
  background-color: #3b3838;
    
}

.navigation{
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;

}
.left_menu, .right_menu {
  height: 100%;
  box-sizing: border-box;
  width: 42%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
}

      /* ссылки навигации */
.navigation li a {
  color: #fff;
  text-decoration: none;
  align-self: center;
  font-size: 1.3em;
  transition: color .2s linear;
}
      /* наведенные ссылки нава */

.navigation li a:hover {
color: #cf3339;
}


      /* логотип в наве */

li a img {
  display: block;
  align-items: center;
  height: 85px;
  width: auto;
  margin-top: 4px;
  margin-bottom: 4px;
  
}

/* элементы менюшки не видно на компе */
.icon_menu, #checkbox_menu, .logo_mobile, .navigation_mobile, .zaebal_icon_menu {
  display: none;
} 




.intro {
    width: 100%;
    height: 100vh;
    background: url(../jpg/expositions/экспозиции\ вар12.jpg);
    background-position: center left 30%;
    background-repeat: no-repeat;
    background-size:cover;
  }

.intro_text {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;

  text-align: center;
  color: #fff;
  font-size: 1.3em;
}  
.title {
  margin-bottom: 5px;
  font-weight: 200;
  font-size: 100px;
}



























footer {
    color: #fff;
    padding-top: 5vw;
    padding-bottom: 2vh;
    background-color: #3b3838;
  }
  
  .prv {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 10%;
    width: 100%;
  }
  .logo_footer img {
    height: 15vh;
  } 
  .adres {
    margin-right: 8vw;
  }
  .adres_link a {
    text-decoration: none;
    color: #fff;
  }
  
  .footer_nav {
    color: #fff;
    height: 15vh;
    margin-top: 5vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .footer_nav_left, .footer_nav_right {
    width: 20vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .footer_contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .footer_contacts a {
    color: #fff;
  }
  .footer_nav li {
    font-size: 1.1em;
    list-style-type: none;
    padding-top: 5%;
  }
  
  
  
  .footer_nav_left a, .footer_nav_right a {
    color: #fff;
    text-decoration: none;
    align-self: center;
  }
  
  
  .footer_contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
  }
  
  .footer_end {
    border-top: .1vh solid #fff;
    margin-top: 4vw;
    padding-top: .5vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 10%;
    width: 100%;
  }









  @media screen and (max-width:860px) {



    .logo a{
      display: none;
    }
  
   
    
  
    .navigation {
      display: none;
    }
    .logo_mobile {  
      display: inline-block;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .logo_mobile img {
    height: 50px;
    width: auto;
    }
    
    .header_mobile {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  
    }
    
    .icon_menu {
      display: flex;
      align-items: center;
      justify-content: right;
      width: 50px;
      height: 50px;
      /* background-color: #dd03b9; */
      border: none;
      border-radius: 50%;
      cursor: pointer;
    }
    .icon_menu span::before,
    .icon_menu span::after,
    .icon_menu span {
      background-color: #ffffff;
      width: 24px;
      height: 3px;
      border-radius: 2px;
      transition: 0.3s;
    }
    .icon_menu span::before,
    .icon_menu span::after {
      content: "";
      position: relative;
      display: inline-block;
    }
    .icon_menu span::before {
      top: -20px;
    }
    .icon_menu span::after {
      top: -23px;
    }
    .zaebal_icon_menu:checked ~ .header_mobile .icon_menu span {
      background-color: transparent;
    }
    .zaebal_icon_menu:checked ~ .header_mobile .icon_menu span::before {
      top: -13px;
      transform: rotate(135deg);
    }
    .zaebal_icon_menu:checked ~ .header_mobile .icon_menu span::after {
      top: -32px;
      transform: rotate(-135deg);
    } 
  

    
  .zaebal_icon_menu:checked ~ .navigation_mobile
    {
    display: block;
  }
  

  .navigation_mobile li{
    width: 100%;
    text-align: center;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navigation_mobile li a {
    color: #fff;
    font-size: 1.5em;
  
  }
  
  
  
  
  
  
  
  
  }