/* 
то что необходимо решить
1) как адаптировать размер шрифта
2) разобраться с тем чтобы логотип в навигации изменялся с изменением размеров
3) разобраться как при наведении менять цвет только текста 
*/









* {
    margin: 0;
    padding: 0;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
body, html {
    overflow-x: hidden;
    
}
body a {
  text-decoration: none;
}

header {
    height: 100vh;
    background-image: url(../jpg/main/meteor1.jpg);
    background-repeat: no-repeat;
    /* картинка в полный экран, пока что закомментировано,
    в случае чего расскомментировать или удалить */
    background-size: cover;
    
    /* background-position: center;   */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* контейнер */


.container {
    /* margin: 0 auto;
    max-width: 1200px;
    width: 100%; */
    margin: 0 auto;
    width: 90%;

}


/*           */



/*  */

/* навигационная панель */
header nav {
    text-align: center;
    background-color: #3b3838;  
}

.navigation{
    /* margin: auto; */
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    /* border-bottom: 5px solid red; */

}
.left_menu, .right_menu {
    height: 100%;
    box-sizing: border-box;
    width: 42%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-bottom: 0.3vh solid #fff;
    border-top: 0.3vh solid #fff;
}

        /* ссылки навигации */
.navigation li a {
    color: #fff;
    text-decoration: none;
    align-self: center;
     /* font-size: 1.3em; */
     font-size: 3vh;

    transition: color .2s linear;
}
        /* наведенные ссылки нава */

        .navigation li a:hover {
            color: #cf3339;
        }


        /* логотип в наве */

li a img {
    display: block;
    align-items: center;
    height: 9.2vh;
    width: auto;
    margin-top: .4vh;
    margin-bottom: .4vh;
    
}
 
        /*           */


/*                   */

 







/* Название */

.info {
    font-family: 'Montserrat', sans-serif;
    align-self: center;
    height: 20vh;
    font-size: 7vh;
    letter-spacing: .1vw;
    color: #fff;
}
.info p {
    font-family: 'Montserrat', sans-serif;
}

.text_and_line {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.line {
    margin-left: 3%;
    display: block;
    height: 5px;
    background-color: #fff;
    width: 100%;
}

/* элементы менюшки не видно на компе */
.icon_menu, #checkbox_menu, .logo_mobile, .navigation_mobile {
    display: none;
} 



















/* про Алексеева */

.about_alekseev {
    /* height: 100vh; */
    width: 100%;
    color: #3b3838;
}
 .heading_right {
    /* font-family: 'Montserrat', sans-serif; */
    text-align: end;
    font-size: 2.3em;
   padding-top: 4vh;
   color: #3b3838;
}


.alekseev_info {
  height: 100%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  /* height: 88.5vh; */
}
.about_alekseev_text {
  text-align: center;
}
.about_alekseev_line_top {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4vh;
  display: block;
  height: .2vh;
  background-color: #3b3838;
  width: 40%;
}
.about_alekseev_line_bottom {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vh;
  display: block;
  height: .2vh;
  background-color: #3b3838;
  width: 40%;
}

.about_alekseev_text, .slidecont {
  width: 45%;
}
.about_alekseev img {
  height: 65vh;
}
.about_alekseev_text {
  align-items: center;
  color: #3b3838;
  font-size: 2.3vh;
}


/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 80%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}











































/* про музей */


.about_museum {
  background-color: #3b3838;
  color: #fff;
}
.heading_left {
    font-size: 6vh;
   padding-top: 4vh;
  }
.museum_info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 8vh;
  padding-bottom: 8vh;

}
.sector {
  align-items: center;
  overflow: hidden;
}
.sector p  {
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 2vh;
}
.name_of_vst p{
  font-size: 2.5vh;
  padding-top: .5vh;
}
.sector img {
  display: block;
  height: 60vh;
  width: auto;
  transition: 1s;
} 
.text_vzux {
  vertical-align: middle;
  font-size: 2vh;
  position:absolute; 
  visibility:hidden;
  background:rgba(0, 0, 0, 0.4392156862745098);
  color: white;
  width: 100%;
  height: 70vh;
  top: 60vh;
}
.text_vzux p {
  padding-top: 21vh;
  text-align: center;

}
.sector:hover .text_vzux{
  visibility:visible;
  transition:1s;
  -webkit-transition:1s;
  transform:translatey(-60vh);
  -webkit-transform:translatey(-60vh);
} 
.sector:hover{
  filter:sepia(50%);
  -webkit-filter:sepia(60%);
  transition:1s;
  -webkit-transition:1s;
}



.sector:hover img{
  z-index: 1;
  filter: blur(5px);
  transform: scale(1.2);
  /* filter:sepia(50%);
  -webkit-filter:sepia(60%); */
  transition:1s;
  /* -webkit-transition:1s; */
} 































/* новости */




.home_news {
  margin-top: 8vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  /* align-items: center; */
}
.news_slide {
  overflow: hidden;
  display: block;
  align-items: center;
  overflow: hidden;
  width: 25vw;
  /* height: auto; */
}
.news_slide img {
  display: block;
  /* height: 60vh; */
  width: 100%;
  /* overflow-clip-margin: content-box; */
  /* overflow: clip; */
  transition: 1s cubic-bezier(.19,.91,.36,.99);
}

.news_slide a {
  text-decoration: none;
}
.news_data {
  margin-top: 10px;
  color: #bbb;
}
.news_title {

  font-size: 0.7666666em;
  color: #3b3838;
}
.news_text {
  color: #3b3838;
  width: 100%;
}

.news_img {
  overflow: hidden;
  align-items: center;
}

.news_slide:hover img{
  transform: scale(1.1);
  display: block;
}
























/* футер */


footer {
  color: #fff;
  padding-top: 3vh;
  padding-bottom: 2vh;
  background-color: #3b3838;
}

.prv {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 40px;
}

.prv a {
  text-decoration: none;
  color: #fff;
}

.prv .logo_footer {
  width: 50%;
}
.prv .adres_info {
  width: 50%;
}

.logo_footer {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.logo_footer div {
  font-size: 1.1em;
  width: 100%;
  text-align: center; 
}

.logo_footer span {
  border-bottom: 2px solid #fff;
}

.logo_footer img {
  height: 100px;
}

.adres  {
  font-size: 1.1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

 .adres_info h2 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 5px;
  border-bottom: 2px solid #fff ;
}

.footer_nav {
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
}



.footer_nav a {
  text-decoration: none;
  color: #fff;
}

.footer_nav_left, .footer_nav_right {
  width: 50%;
}

.footer_item, .footer_item {
  font-size: 1.1em;
  padding-bottom: 25px;
} 

.footer_nav_left {
display: flex;
flex-direction: row;
}
.footer_nav_left div {
  width: 50%;
}

.footer_nav_right {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact_information {
  text-align: end;
}

.footer_roots {
  text-align: center;
}

.footer_end {
  border-top: .1vh solid #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 10%;
  width: 100%;
}

.zaebal_icon_menu {
  display: none;
}





@media screen and (max-width:865px) {



  .logo a{
    display: none;
  }

 
  

  .navigation {
    display: none;
  }
  .logo_mobile {  
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .logo_mobile img {
  height: 50px;
  width: auto;
  }
  
  .header_mobile {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }
  
  .icon_menu {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 50px;
    height: 50px;
    /* background-color: #dd03b9; */
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  .icon_menu span::before,
  .icon_menu span::after,
  .icon_menu span {
    background-color: #ffffff;
    width: 24px;
    height: 3px;
    border-radius: 2px;
    transition: 0.3s;
  }
  .icon_menu span::before,
  .icon_menu span::after {
    content: "";
    position: relative;
    display: inline-block;
  }
  .icon_menu span::before {
    top: -20px;
  }
  .icon_menu span::after {
    top: -23px;
  }
  .zaebal_icon_menu:checked ~ .header_mobile .icon_menu span {
    background-color: transparent;
  }
  .zaebal_icon_menu:checked ~ .header_mobile .icon_menu span::before {
    top: -13px;
    transform: rotate(135deg);
  }
  .zaebal_icon_menu:checked ~ .header_mobile .icon_menu span::after {
    top: -32px;
    transform: rotate(-135deg);
  } 


  
.zaebal_icon_menu:checked ~ .navigation_mobile
  {
  display: block;
}

.navigation_mobile li{
  width: 100%;
  text-align: center;
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navigation_mobile li a {
  color: #fff;
  font-size: 1.5em;

}





}